body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background: #89f7fe;
	background: -webkit-linear-gradient(to right, #89f7fe, #66a6ff); 
	background: linear-gradient(to right, #00e4d0, #5983e8);
}

.container{  
  height: 100%;
  display: grid; 
}

.install-container{
	margin: auto;
	margin-top:100px;
}

.panel-body{
	padding-left: 0px;
	padding-right: 0px;
}

.panel-default {
    background: #fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	padding: 50px 85px;
}

.panel-default>.panel-heading {
    color: #FFF;
    background-color: #222f3e;
    border-color: #ddd;
    border-radius: 3px;
}

.btn-install{
	background: transparent;
	margin-top: 15px;
	border:2px solid #0984e3;
	color: #0984e3;
	font-size:16px;
	border-radius:0px;
	transition: 0.5s ease all;
	padding: 6px 20px;
}

.btn-install:hover{
	background: #0984e3;
	color: #FFF;
}

p.required{
	color: #d63031;
    font-size: 16px;
    font-weight: bold;
}

.form-control:focus{
	outline: none !important;
	border: 1px solid #0984e3;
}